* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;


}

.quiz {
    justify-content: center;
}

.quiz-container {
    text-align: center;
    background-color: rgb(216, 216, 216);
    border-radius: 15px;
    height: 400px;

}

.button {
    width: 100px;
    height: 50px;
    border-radius: 20%;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.title {}

.question {
    justify-content: center;
    display: flex;

}

.options {
    background-color: rgb(153, 153, 153);
    border-radius: 15px;
    margin-top: 10px;
    width: 300px;
    margin-left: 100px;
    margin-top: 50px;
}

.result {}